<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">{$Think.lang.manage} {$Think.lang.booking_flight}</h3>
			</div>
			<div class="panel-body">
				<form class="form-inline" action="{$Think.const.ROOT_URL}Admin/bookingadd/1/{$eid}" method="POST">
					<div class="form-group">
						<label for="inCallsign">{$Think.lang.callsign}</label>
						<input type="text" class="form-control" id="inCallsign" name="callsign">
					</div>
					<div class="form-group">
						<label for="inAirport">{$Think.lang.airport}</label>
						<input type="text" class="form-control" id="inAirport" name="airport">
					</div>
					<div class="form-group">
						<label for="inRoute">{$Think.lang.route}</label>
						<input type="text" class="form-control" id="inRoute" name="route">
					</div>
					<div class="form-group">
						<label for="inTime">{$Think.lang.pushtime}</label>
						<input type="text" class="form-control" id="inTime" name="time" placeholder="1200">
					</div>
					<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;{$Think.lang.add}</button>
				</form>
				<br>
				<form class="form-inline" action="{$Think.const.ROOT_URL}Admin/bookingimport/1/{$eid}" method="POST" enctype="multipart/form-data">
					<input type="file" class="form-control" name="file">
					<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-import" aria-hidden="true"></span>&nbsp;{$Think.lang.importcsv}</button>
					<a href="{$Think.const.ROOT_URL}Admin/bookingexport/1/{$eid}" class="btn btn-default"><span class="glyphicon glyphicon-export" aria-hidden="true"></span>&nbsp;{$Think.lang.exportcsv}</a>
				</form>
			</div>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>{$Think.lang.callsign}</th>
						<th>{$Think.lang.airport}</th>
						<th>{$Think.lang.route}</th>
						<th>{$Think.lang.pushtime}</th>
						<th>{$Think.lang.bookeduser}</th>
						<th>{$Think.lang.action}</th>
					</tr>
				</thead>
				<tbody>
					<volist name="flights" id="booking">
						<tr>
							<td><strong>{$booking.callsign}</strong></td>
							<td>{$booking.info.airport}</td>
							<td>{$booking.info.route}</td>
							<td><span class="label label-default">{$booking.time}</span></td>
							<td>{$booking.user}</td>
							<td>
								<if condition="$booking.usermark neq 0">
									<a href="{$Think.const.ROOT_URL}Admin/bookingclean/{$booking.id}" class="btn btn-default btn-sm">{$Think.lang.cleanbooking}</a>
								</if>
								<a href="{$Think.const.ROOT_URL}Admin/bookingdel/{$booking.id}" class="btn btn-danger btn-sm">{$Think.lang.admin_del}</a>
							</td>
						</tr>
					</volist>
				</tbody>
			</table>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">{$Think.lang.manage} {$Think.lang.booking_controller}</h3>
			</div>
			<div class="panel-body">
				<form class="form-inline" action="{$Think.const.ROOT_URL}Admin/bookingadd/1/{$eid}" method="POST">
					<div class="form-group">
						<label for="inCallsign">{$Think.lang.callsign}</label>
						<input type="text" class="form-control" id="inCallsign" name="callsign">
					</div>
					<div class="form-group">
						<label for="inName">{$Think.lang.controllerseat}</label>
						<input type="text" class="form-control" id="inName" name="name">
					</div>
					<div class="form-group">
						<label for="inCustom">{$Think.lang.custom}</label>
						<input type="text" class="form-control" id="inCustom" name="custom" placeholder="0">
					</div>
					<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;{$Think.lang.add}</button>
				</form>
				<br>
				<form class="form-inline" action="{$Think.const.ROOT_URL}Admin/bookingimport/2/{$eid}" method="POST" enctype="multipart/form-data">
					<input type="file" class="form-control" name="file">
					<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-import" aria-hidden="true"></span>&nbsp;{$Think.lang.importcsv}</button>
					<a href="{$Think.const.ROOT_URL}Admin/bookingexport/2/{$eid}" class="btn btn-default"><span class="glyphicon glyphicon-export" aria-hidden="true"></span>&nbsp;{$Think.lang.exportcsv}</a>
				</form>
			</div>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>{$Think.lang.callsign}</th>
						<th>{$Think.lang.controllerseat}</th>
						<th>{$Think.lang.onlinetime}</th>
						<th>{$Think.lang.bookeduser}</th>
						<th>{$Think.lang.action}</th>
					</tr>
				</thead>
				<tbody>
					<volist name="controllers" id="booking">
						<tr>
							<td><strong>{$booking.callsign}</strong></td>
							<td>{$booking.info.name}</td>
							<td><span class="label label-default">{$booking.time}</span></td>
							<td>{$booking.user}</td>
							<td>
								<if condition="$booking.usermark neq 0">
									<a href="{$Think.const.ROOT_URL}Admin/bookingclean/{$booking.id}" class="btn btn-default btn-sm">{$Think.lang.cleanbooking}</a>
								</if>
								<a href="{$Think.const.ROOT_URL}Admin/bookingdel/{$booking.id}" class="btn btn-danger btn-sm">{$Think.lang.admin_del}</a>
							</td>
						</tr>
					</volist>
				</tbody>
			</table>
		</div>
	</div>
</div>