<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">{$Think.lang.manage} {$Think.lang.user}</h3>
			</div>
			<div class="panel-body">
				<table class="table">
					<thead>
						<tr>
							<th>id</th>
							<th>{$Think.lang.user_name}</th>
							<th>{$Think.lang.user_rating}</th>
							<th>{$Think.lang.user_lang}</th>
							<th>{$Think.lang.user_group}</th>
							<th>{$Think.lang.user_action}</th>
						</tr>
					</thead>
					<tbody>
						<volist name="users" id="vo">
							<tr id="user_{$vo.id}">
								<th scope="row">{$vo.id}</th>
								<td>{$vo.firstname} {$vo.lastname}</td>
								<td>{:L("rating_".$vo['rating'])}</td>
								<td>
									<!-- Single button -->
									<div class="btn-group">
										<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span id="userlang_{$vo.id}">{$vo.lang}</span> <span class="caret"></span></button>
										<ul class="dropdown-menu">
											<li><a href="#" onclick="userlang(this);" data="zh-cn" data-id="{$vo.id}">zh-cn</a></li>
											<li><a href="#" onclick="userlang(this);" data="en-us" data-id="{$vo.id}">en-us</a></li>
										</ul>
									</div></td>
								<td>
									<!-- Single button -->
									<div class="btn-group">
										<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span id="usergroup_{$vo.id}">{:L("usergroup_".$vo['group'])}</span> <span class="caret"></span></button>
										<ul class="dropdown-menu">
											<li><a href="#" onclick="usergroup(this);" data="-2" data-id="{$vo.id}">{$Think.lang.usergroup_-2}</a></li>
											<li><a href="#" onclick="usergroup(this);" data="1" data-id="{$vo.id}">{$Think.lang.usergroup_1}</a></li>
											<li><a href="#" onclick="usergroup(this);" data="2" data-id="{$vo.id}">{$Think.lang.usergroup_2}</a></li>
											<li><a href="#" onclick="usergroup(this);" data="3" data-id="{$vo.id}">{$Think.lang.usergroup_3}</a></li>
											<li><a href="#" onclick="usergroup(this);" data="4" data-id="{$vo.id}">{$Think.lang.usergroup_4}</a></li>
										</ul>
									</div>
								</td>
								<td><button type="button" class="btn btn-danger btn-sm" onclick="userdel({$vo.id});">{$Think.lang.admin_del}</button></td>
							</tr>
						</volist>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">{$Think.lang.manage} {$Think.lang.validate_code}</h3>
			</div>
			<div class="panel-body" id="validate-body">
				<input id="inputCode" type="text" class="form-control" placeholder="Validate Code"><button id="save-btn" type="button" class="btn btn-default">{$Think.lang.save}</button>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="{$Think.const.ROOT_URL}Public/js/admin.js"></script>