<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">{$Think.lang.add} {$Think.lang.privilegeduser}</h3>
			</div>
			<div class="panel-body">
				<form class="form-inline" action="{$Think.const.ROOT_URL}User/usergroup" method="POST">
				  <div class="form-group">
				    <label for="puserId">VATSIMID</label>
				    <input type="text" class="form-control" id="puserId" name="id">
				  </div>
				  <select class="form-control" name="group">
					<option value="-2">{$Think.lang.usergroup_-2}</option>
					<option value="1">{$Think.lang.usergroup_1}</option>
					<option value="2">{$Think.lang.usergroup_2}</option>
					<option value="3">{$Think.lang.usergroup_3}</option>
					<option value="4">{$Think.lang.usergroup_4}</option>
				  </select>
				  <button type="submit" class="btn btn-primary">{$Think.lang.save}</button>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">{$Think.lang.manage} {$Think.lang.privilegeduser}</h3>
			</div>
			<div class="panel-body">
				<table class="table">
					<thead>
						<tr>
							<th>VATSIM ID</th>
							<th>{$Think.lang.user_name}</th>
							<th>{$Think.lang.user_group}</th>
							<th>{$Think.lang.user_action}</th>
						</tr>
					</thead>
					<tbody>
						<volist name="users" id="vo">
							<tr id="user_{$vo.id}">
								<th scope="row">{$vo.id}</th>
								<td>{$vo.name}</td>
								<td>
									<!-- Single button -->
									<div class="btn-group">
										<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span id="usergroup_{$vo.id}">{:L("usergroup_".$vo['group'])}</span> <span class="caret"></span></button>
										<ul class="dropdown-menu">
											<li><a href="#" onclick="usergroup(this);" data="-2" data-id="{$vo.id}">{$Think.lang.usergroup_-2}</a></li>
											<li><a href="#" onclick="usergroup(this);" data="1" data-id="{$vo.id}">{$Think.lang.usergroup_1}</a></li>
											<li><a href="#" onclick="usergroup(this);" data="2" data-id="{$vo.id}">{$Think.lang.usergroup_2}</a></li>
											<li><a href="#" onclick="usergroup(this);" data="3" data-id="{$vo.id}">{$Think.lang.usergroup_3}</a></li>
											<li><a href="#" onclick="usergroup(this);" data="4" data-id="{$vo.id}">{$Think.lang.usergroup_4}</a></li>
										</ul>
									</div>
								</td>
								<td><button type="button" class="btn btn-danger btn-sm" onclick="userdel({$vo.id});">{$Think.lang.admin_del}</button></td>
							</tr>
						</volist>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="{$Think.const.ROOT_URL}Public/js/admin.js"></script>