<div class="row" id="post">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">{$Think.lang.list}</h3>
			</div>
			<!-- Table -->
			<table class="table">
				<thead>
					<tr>
						<th>#</th>
						<th>{$Think.lang.post_title}</th>
						<th>{$Think.lang.post_type}</th>
						<th>{$Think.lang.event_status}</th>
						<th>{$Think.lang.event_author}</th>
						<th>{$Think.lang.post_country}</th>
						<th>{$Think.lang.action}</th>
					</tr>
				</thead>
				<tbody>
					<volist name="events" id="event">
						<tr id="tr-{$event.id}">
							<th scope="row">{$event.id}</th>
							<td><a id="title-{$event.id}" class="body-btn" data="Event/view/{$event.id}" style="cursor:pointer;">{$event.title}</a></td>
							<td><span class="label label-info">{$event['type']}</span></td>
							<td>{$event.status}</td>
							<td>{$event.author}</td>
							<td><volist name="event['country']" id="v"><img src="{$Think.const.ROOT_URL}Public/images/lang/{$v}.png">&nbsp;</volist></td>
							<td>
								<button type="button" class="btn btn-default btn-sm">booking管理</button>
								<if condition="$event.statusid neq '1'">
									<a href="/Event/unpublish/{$event.id}" class="btn btn-warning btn-sm">{$Think.lang.admin_unpublish}</a>
								<else />
									<a href="/Event/publish/{$event.id}" class="btn btn-success btn-sm">{$Think.lang.admin_publish}</a>
								</if>
								<button type="button" class="btn btn-default btn-sm">{$Think.lang.admin_edit}</button>
								<button type="button" class="btn btn-danger btn-sm"  onclick="confirm('{$Think.lang.admin_del}',{$event.id},'del')">{$Think.lang.admin_del}</button></td>
						</tr>
					</volist>
				</tbody>
			</table>
		</div>
	</div>
</div>


<script src="{$Think.const.ROOT_URL}Public/js/ckeditor/ckeditor.js"></script>
<script src="{$Think.const.ROOT_URL}Public/js/ckeditor/adapters/jquery.js"></script>
<script src="{$Think.const.ROOT_URL}Public/js/global.js" type="text/javascript" charset="utf-8"></script>
<script src="{$Think.const.ROOT_URL}Public/js/eventadmin.js" type="text/javascript" charset="utf-8"></script>

<!-- Modal -->
<div class="modal fade" id="chooseModal" tabindex="-1" role="dialog" aria-labelledby="chooseModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="chooseModalLabel">{$Think.lang.post_choose} - </h4>
      </div>
      <div class="modal-body" id="choose-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{$Think.lang.close}</button>
        <button type="button" class="btn btn-primary">{$Think.lang.confirm}</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" onclick="confirmClose();" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="confirmModalLabel">{$Think.lang.confirm}</h4>
      </div>
      <div class="modal-body" id="confirm-body">
        {$Think.lang.doconfirm}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" onclick="confirmClose();">{$Think.lang.back}</button>
        <button type="button" class="btn btn-primary" id="confirm-btn">{$Think.lang.confirm}</button>
      </div>
    </div>
  </div>
</div>