<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
          <div class="panel-title">{$Think.lang.validate}</div>
        </div>
        <div class="panel-body text-center" style="height:auto;">
          <h1>{$Think.lang.check_email}</h1>
          <p>{$Think.lang.welcome_email}</p><br>
          <form class="form-inline">
            <div class="form-group">
              <div class="input-group">
                <input type="email" class="form-control input-lg" placeholder="E-mail" id="inputEmail">
                <div class="input-group-btn"><button type="button" class="btn btn-primary btn-lg" onclick="email('{$user.id}');">{$Think.lang.submit}</button></div>
              </div>
            </div>
          </form><br>
          <div class="alert alert-success" role="alert" id="alertEmail">{$Think.lang.successemail}</div>
        </div>
      </div>
  </div>
</div>
<script type="text/javascript" src="{$Think.const.ROOT_URL}Public/js/login.js"></script>