<!DOCTYPE html>
<html>
  <head>
    <title>Validate User - SkyEvent - Flight Simuate Event Manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="{$Think.const.ROOT_URL}Public/css/styles.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="login-bg">
  	<div class="header">
	     <div class="container">
	        <div class="row">
	           <div class="col-md-12">
	              <!-- Logo -->
	              <div class="logo">
	                 <h1><a href="index.html">SkyEvent</a><img src="http://www.vatprc.net/media/images/logo(2).png" style="width:130px;height:35px;"></h1>
	              </div>
	           </div>
	        </div>
	     </div>
	</div>

	<div class="page-content container">
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
			      <div class="login-wrapper">
			        <div class="box">
			            <div class="content-wrap">
			                <h6>{$Think.lang.validate}</h6>
			                <table class="table" style="font-size:15px;">
			                	<tbody>
			                		<tr><th scope="row">VATSIM CID</th><td>{$data.id}</td></tr>
			                		<tr><th scope="row">{$Think.lang.v_name}</th><td>{$data.firstname} {$data.lastname}</td></tr>
			                		<tr><th scope="row">{$Think.lang.email}</th><td>{$data.country}</td></tr>
			                		<tr><th scope="row">{$Think.lang.v_rating}</th><td>{$hu.rating}</td></tr>
			                		<tr><th scope="row">{$Think.lang.v_group}</th><td>{$hu.group}</td></tr>
			                		<tr><th scope="row">{$Think.lang.v_country}</th><td>{$data.country}</td></tr>
			                		<tr><th scope="row">{$Think.lang.v_division}</th><td>{$data.division}</td></tr>
			                		<tr><th scope="row">{$Think.lang.v_region}</th><td>{$data.region}</td></tr>
			                	</tbody>
			                </table>
			                <div class="action">
			                   <form method="POST" action="{$Think.const.ROOT_URL}User/confirm">
			                   	<input type="hidden" value="validate_{$data.id}" name="data">
			                    	<button class="btn btn-primary signup" type="submit">{$Think.lang.confirm}</button>
			                    </form>
			                </div>                
			            </div>
			        </div>

			        <div class="already">
			            <p>{$Think.lang.havewrong}</p>
			            <a href="{$Think.const.ROOT_URL}Index/index">Restart</a>
			        </div>
			    </div>
			</div>
		</div>
	</div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="{$Think.const.ROOT_URL}Public/js/global.js"></script>
   </body>
</html>